<link rel="stylesheet" href="/static/css/style.css" type="text/css">


<form action="/doresetpass" method="post">
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Password Reset</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" ></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="new password" name="newpassword">
				<label class="login-field-icon fui-lock" ></label>
				</div>

                <input type="submit" value="Save" class="btn btn-primary btn-large btn-block" >

			</div>
		</div>
	</div>

</form>

